.world, .roller, .face, .view {
	position: absolute;
	width: 400px;
	height: 400px;
}
.world {
	perspective: 3000px;
}
.roller, .face {
	transform-style: preserve-3d;
	transform-origin: 50% 50% -200px;
}
.face1 {
	background: red; /* front */
}
.face2 {
	background: blue; /* top */
	transform: rotateX(90deg);
}
.face3 {
	background: green; /* bottom */
	transform: rotateX(-90deg);
}
.view {
	background-color: yellow;
	opacity: 0.5;
}
.animated {
	transition: 1s;
}
.up {
	transform: rotateX(90deg);
}
.down {
	transform: rotateX(-90deg);
}
.demo-wrap {
  margin: 4.8rem auto 6.4em;
}
.container {
	margin-right: auto;
	margin-left: auto;
	width: 92.5%;
	max-width: 160rem;
}
